
    <ul class="nav well">
        <li><legend><center>Menu Kuis</center></legend></li>
        <li><a href="{{path('create_kuis_page')}}"><center>Buat Kuis</center></a></li>
        <li><a href="{{path('check_kuis_kelas_satu')}}"><center>Kelas 1</center></a></li>
        <li><a href="{{path('check_kuis_kelas_dua')}}"><center>Kelas 2</center></a></li>
        <li><a href="{{path('check_kuis_kelas_tiga')}}"><center>Kelas 3</center></a></li>
    </ul> 

