<html>
    <head>
        <title>Checking</title>
        {%if is_granted('ROLE_STUDENT')%}
            <script>
                window.location = "{{ path('sifo_main_studentpage') }}";
            </script>
            {%elseif is_granted('ROLE_TEACHER')%}
                <script>
                    window.location = "{{ path('sifo_main_teacherpage') }}";
                </script>
                {%else%}
                    <script>
                    window.location = "{{ path('sifo_main_homepage') }}";
                </script>
                    {%endif%}
    </head>
    <body>
           
    </body>
</html>