{% extends 'SifoAdminBundle::side.html.twig' %}

{%block main%}
    <p class="pull-center">
    <form class="well" id="form" method="POST" action="{{ path('sifo_admin_signup') }}">
        <fieldset>
            <legend>Registration Form</legend>

            <label class="control-label">Username:</label>

            <input type="text" id="username" name="username">


            <label class="control-label">Password:</label>

            <input type="text" id="password" name="password">


            <label class="control-label">Email:</label>

            <input type="text" id="email" name="email">
            <br>
            <label class="control-label">Role:</label>
            <br>
            <input type="radio" name="roles" value="ROLE_STUDENT"> STUDENT
            <input type="radio" name="roles" value="ROLE_TEACHER"> TEACHER

            
                
            <div align="center">
                <br><button type="submit" class="btn btn-primary" >Tambah</button>
            </div>
            
            
        </fieldset>
    </form>
</p>

<center>Ini halaman Data Guru!!</center>
    <p class="pull-center">
    <form class="well" id="form" method="POST" action="{{ path('daftar_guru') }}">
        <fieldset>
            <legend>Registration Form</legend>
                <label class="control-label">Username:</label>

            <input type="text" id="username" name="username">


            <label class="control-label">Password:</label>

            <input type="text" id="password" name="password">


            <label class="control-label">Email:</label>

            <input type="text" id="email" name="email">
            <br>
            <label class="control-label">Role:</label>
            <br>
            
            <input type="radio" name="roles" value="ROLE_TEACHER" checked="true"> TEACHER

            
                
            <div align="center">
                <br><button type="submit" class="btn btn-primary" >Tambah</button>
            </div>
        </fieldset>
    </form>
</p>

{%endblock%}
