{% extends 'SifoAdminBundle:Admin:adminlayout.html.twig' %}

{%block main%}
    <center>Welcome</center>
    <p>Real Madrid face a partial stadium closure for their UEFA Champions League defence after being found guilty of racist behaviour.

    UEFA handed down the sanction to the newly crowned champions following incidents at the Santiago Bernabeu during their semi-final first leg against Bayern Munich in April.

    Madrid won that game 1-0, and went on to win the tie 5-0 on aggregate, but UEFA brought charges against them following the match.

    Following an investigation the Control and Disciplinary Body delivered their verdict on the incidents, and handed out the punishment.

    “Following the charge of racist behaviour by Real Madrid supporters during the match (Article 14 of the UEFA Disciplinary Regulations), the Control and Disciplinary Body has ordered the partial closure of the Santiago Bernabeu for one match,” a statement read.

    “More specifically, sectors 120 and 122 of the stadium will be closed for the club’s next UEFA competition home game.

    “Real Madrid are obliged to display a banner with the wording ‘No to Racism’ in those sectors.”

    The Liga side are also under investigation by UEFA following incidents during the final against city rivals Atletico, and could face further sanctions from the governing body.</p>
    
    <p>Real Madrid face a partial stadium closure for their UEFA Champions League defence after being found guilty of racist behaviour.

    UEFA handed down the sanction to the newly crowned champions following incidents at the Santiago Bernabeu during their semi-final first leg against Bayern Munich in April.

    Madrid won that game 1-0, and went on to win the tie 5-0 on aggregate, but UEFA brought charges against them following the match.

    Following an investigation the Control and Disciplinary Body delivered their verdict on the incidents, and handed out the punishment.

    “Following the charge of racist behaviour by Real Madrid supporters during the match (Article 14 of the UEFA Disciplinary Regulations), the Control and Disciplinary Body has ordered the partial closure of the Santiago Bernabeu for one match,” a statement read.

    “More specifically, sectors 120 and 122 of the stadium will be closed for the club’s next UEFA competition home game.

    “Real Madrid are obliged to display a banner with the wording ‘No to Racism’ in those sectors.”

    The Liga side are also under investigation by UEFA following incidents during the final against city rivals Atletico, and could face further sanctions from the governing body.</p>
    <p>Real Madrid face a partial stadium closure for their UEFA Champions League defence after being found guilty of racist behaviour.

    UEFA handed down the sanction to the newly crowned champions following incidents at the Santiago Bernabeu during their semi-final first leg against Bayern Munich in April.

    Madrid won that game 1-0, and went on to win the tie 5-0 on aggregate, but UEFA brought charges against them following the match.

    Following an investigation the Control and Disciplinary Body delivered their verdict on the incidents, and handed out the punishment.

    “Following the charge of racist behaviour by Real Madrid supporters during the match (Article 14 of the UEFA Disciplinary Regulations), the Control and Disciplinary Body has ordered the partial closure of the Santiago Bernabeu for one match,” a statement read.

    “More specifically, sectors 120 and 122 of the stadium will be closed for the club’s next UEFA competition home game.

    “Real Madrid are obliged to display a banner with the wording ‘No to Racism’ in those sectors.”

    The Liga side are also under investigation by UEFA following incidents during the final against city rivals Atletico, and could face further sanctions from the governing body.</p>
{%endblock%}
