{% extends 'SifoAdminBundle:Admin:adminlayout.html.twig' %}

{%block main%}
    <p class="pull-center">
        <form class="well" id="form" method="POST" action="{{ path('admin_dataguru') }}">
            <fieldset>
                <legend>Daftarkan Guru</legend>
                <label class="control-label">Username:</label>
                    <input type="text" id="username" name="username">
                <label class="control-label">Password:</label>
                    <input type="text" id="password" name="password">
                <label class="control-label">Name:</label>
                    <input type="text" id="name" name="name"><br>
                <label class="control-label">NIP:</label><br>
                    <input type="text" id="nip" name="nip">
                <label class="control-label">Email:</label>
                    <input type="text" id="email" name="email">
                <label class="control-label">Mata Pelajaran:</label>    
                    <select name='mapel'>
                        <option value='Matematika'>Matematika</option>
                        <option value='Bahasa Indonesia'>Bahasa Indonesia</option>
                        <option value='Bahasa Inggris'>Bahasa Inggris</option>
                    </select>
                <label class="control-label">Role: <b><font color="blue">Guru</font></b></label>
                    <input type="hidden" id="roles" name="roles" value="ROLE_TEACHER">
                
                <div align="center">
                    <br><button type="submit" class="btn btn-primary" >Tambah</button>
                </div>
            </fieldset>
        </form>
    </p>
{%endblock%}