{% extends 'SifoAdminBundle:Admin:adminlayout.html.twig' %}

{%block main%}
    <center>Ini halaman Data Admin!!</center>
    <p class="pull-center">
        <form class="well" id="form" method="POST" action="{{ path('admin_dataadmin') }}">
            <fieldset>
                <legend>Registration Form</legend>

                <label class="control-label">Username:</label>
                    <input type="text" id="username" name="username">
                <label class="control-label">Firstname:</label>
                    <input type="text" id="firstname" name="firstname">
                <label class="control-label">Password:</label>
                    <input type="text" id="password" name="password">
                <div align="center">
                    <br><button type="submit" class="btn btn-primary" >Tambah</button>
                </div>
            </fieldset>
        </form>
    </p>
    <br>
    <hr>
    <br>
    <p class="pull-center">
        Data Admin
        <table>
            <thead>
                <tr>
                    <th>No</th>
                    <th>Username</th>
                    <th>Firstname</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
                {%for admin in count%}
                <tr>
                    {%if admin is iterable%}
                        {%for detail in admin%}
                        <td>{{detail}}</td>
                        {%endfor%}
                    {%endif%}
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </p>
{%endblock%}